body {
	border: 18px solid #92CFFE;
	margin: 20px auto;
	max-width: 700px;
	width: 80%;
	padding: 20px;
	font-family: Roboto;
}

h2 {
	color: #211065;
	font-size: 2.0rem;
}

/* Flaired edges, by Tomas Theunissen */


.quote {
	border-left: 5px solid #92CFFE;
	padding-left: 5px;
}

.date {
	text-transform: uppercase;
	color: grey;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}